<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>


  
  
  <div class="form-group">
     <label class="col-sm-2 control-label">タレント名:</label>
          <div class="col-sm-5">
           <%= f.text_field :name,size: 40, class:"form-control" %>
          </div>
     <div class="col-sm5"></div>
  </div>

  
  <div class="form-group">
     <label class="col-sm-2 control-label">好きなところ(20字以内):</label>
          <div class="col-sm-5">
           <%= f.text_field :body, size: 40, class:"form-control" %>
          </div>
        <div class="col-sm5"></div>
  </div>
  
  
  
  <div class="form-group">
     <label class="col-sm-2 control-label">性別:</label>
          <div class="col-sm-5">
           <%= f.select :sex, { 男: 1, 女: 2},selected:2, class:"form-control" %>
          </div>
     <div class="col-sm5"></div>
  </div>
  

  
  <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10"> 
           <%= f.submit class: "btn btn-sm btn-warning" %>
         </div>
  </div>
  
  
<% end %>




