<h1>好きなタレント</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    好きなタレント一覧
  </div>
  <div class="panel-body">
  <% @messages.each do |message| %>
    名前:<%= message.name %>
    内容:<%= message.body %>
    性別:<%= message.sex %>
    (<%= link_to "edit" , edit_message_path(message) %>
    <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>)
    <br>
  <% end %>
  </div>
</div>

<%= render 'form' %>
